<% const activeDocs = docs.filter(doc => !doc.archived); const archivedDocs =
docs.filter(doc => doc.archived); %> <% include ../head.ejs %>

<div class="container">
  <h2 class="center">Knowledge</h2>

  <div>
    You can now archive articles. See archived articles at the bottom of this
    page.
  </div>

  <a href="/knowledge/new" class="button success pull-right">New</a>

  <table class="table">
    <thead>
      <tr>
        <th class="align-left">Name</th>
        <th class="align-right">Last Edited</th>
      </tr>
    </thead>
    <tbody>
      <% activeDocs.forEach(function(doc) { %>
      <a href="/knowledge/<%- doc.id %>">
        <tr>
          <td class="align-left">
            <a href="/knowledge/<%- doc.id %>"><%- doc.title %></a>
          </td>
          <td class="align-right">
            <p>
              <%- moment(doc.updatedAt ? doc.updatedAt :
              doc.createdAt).calendar() %>
            </p>
          </td>
        </tr>
      </a>
      <% }); %>
    </tbody>
  </table>

  <% if (archivedDocs.length) { %>
  <button id="toggleArchived" class="button">Toggle archived</button>
  <div id="archivedSection" style="display: none; margin-top: 20px">
    <h3>Archived Articles</h3>
    <table class="table">
      <thead>
        <tr>
          <th class="align-left">Name</th>
          <th class="align-right">Last Edited</th>
        </tr>
      </thead>
      <tbody>
        <% archivedDocs.forEach(function(doc) { %>
        <a href="/knowledge/<%- doc.id %>">
          <tr>
            <td class="align-left">
              <a href="/knowledge/<%- doc.id %>"><%- doc.title %></a>
            </td>
            <td class="align-right">
              <p>
                <%- moment(doc.updatedAt ? doc.updatedAt :
                doc.createdAt).calendar() %>
              </p>
            </td>
          </tr>
        </a>
        <% }); %>
      </tbody>
    </table>
  </div>
  <% } else { %>
  <div>You have no archived articles.</div>
  <% } %>
</div>

<script>
  document
    .getElementById("toggleArchived")
    .addEventListener("click", function () {
      var archived = document.getElementById("archivedSection");
      archived.style.display =
        archived.style.display === "none" ? "block" : "none";
    });
</script>

<% include ../foot.ejs %>
